/************************
google font
************************/
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/************************
variables
************************/
$primary: #11243a;
$fontSize: 16px;
$padding: 50px 0;
$white: white;
$gold: #af9562;
$transition: .5s ease;
/************************
mixins
************************/
@mixin flex($justify,$align,$direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn($color: $primary, $colorHover: $white, $borderColor: $primary) {
    padding: 10px 30px;
    border: 3px solid $borderColor;
    color: $color;
    background: transparent;
    font-size: 1.3rem;
    &:hover {
        background: $color;
        color: $colorHover;
    }
}
@mixin hr($color,$width: 150px) {
    background: $color;
    width: $width;
    padding: 1px 0;
    margin: auto auto 20px auto;
    content: "";
}
/************************
bacis styles
************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: $fontSize;
    line-height: 1.6;
  //  font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: 70%;
    margin: auto;
}
i {
    color: $gold;
}
/************************
top bar
************************/
.topBar {
    background: $primary;
    color: $white;
    padding: 10px 0;
    @media(max-width: 767px) {
        text-align: center;
    }
    .container {
        @include flex(space-between,center,row);
        @media(max-width: 767px) {
            @include flex(center,center,column);
            line-height: 3;
        }
        a {
            color: $white;
            font-size: 1.2rem;
            font-weight: 800;
            @media(max-width: 767px) {
                font-size: 1rem;
            }
        }
        ul {
            @include flex(space-between,center,row);
            li {
                padding: 0 10px;
                a {
                    font-size: 2rem;     
                    color: red; 
                }
                &:hover {
                    i {
                        color: $white;
                    }
                }
            }
        }
        span {
            color: $white;
        }
    }
}
/************************
header
************************/
header {
    // nav bar
    margin-bottom: 50px;
    nav {
        @include flex(space-between,center,row);
        padding: $padding;
        @media(max-width: 767px) {
            @include flex(center,center,column);
        }
        .logo {
            a {
                color: $primary;
                font-weight: 600;
                font-size: 1.5rem;
            }
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        ul {
            @include flex(space-between,center,row);
            @media(max-width: 767px) {
                @include flex(space-between,center,column);
            }
            li {
                margin-left: 40px;
                @media(max-width: 767px) {
                    margin-bottom: 20px;
                    margin-left: 0px;
                }
                a {
                    color: $primary;
                    font-weight: 600;
                    font-size: 1.5rem;
                    transition: $transition;
                    text-shadow: 0px 0px 1px $primary;
                    &:hover {
                        color: $white;
                        background: $primary;
                        padding: 15px 15px;
                    }
                }
            }
        }
    }
    // hgroup
    hgroup {
        background: linear-gradient(rgba($primary,.6),rgba($primary,.6)), url(../img/header.jpg);
        background-position: center;
        background-size: cover;
        height: 70vh;
        color: $white;
        text-align: center;
        @include flex(center,center,column);
        h1 {
            font-size: 4rem;
            font-weight: 900;
            @media(max-width: 767px) {
                font-size: 3rem;
            }
        }
        p {
            font-size: 1.1rem;
            margin-bottom: 30px;
            @media(max-width: 767px) {
                font-size: 0.9rem;
            }
        }
        button {
            @include btn($white,$primary,$white);
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
}
/************************
logg in success message
************************/
.logInSuccess {
    text-align: center;
    background: green;
    color: $white;
    max-width: 50%;
}
/************************
logg in unsuccess message
************************/
.logInUnsuccess {
    text-align: center;
    background: red;
    color: $white;
    max-width: 50%;
}
/************************
about us
************************/
.aboutUs {
    padding: $padding;
    color: $primary;
    h2 {
        text-align: center;
        font-size: 3rem;
        color: $primary;
    }
    hr {
        @include hr($primary);
    }
    .first {
        @include flex(space-between,center,row);
        margin-bottom: 30px;
        @media(max-width: 767px) {
            @include flex(space-between,center,column);
        }
        img {
            max-width: 25%;
            @media(max-width: 767px) {
                float: none;
                position: relative;
                margin-bottom: 20px;
                max-width: 100%;
            }
        }
        p {
            flex: 0 0 70%;
            text-align: justify;
            line-height: 1.8;
            word-spacing: 3px;
        }
    }
    .second {
        @include flex(center,center,column);
        h3 {
            font-size: 2rem;
        }
        hr {
            @include hr($primary);
        }
        p {
            text-align: justify;
            line-height: 1.8;
            word-spacing: 3px;
        }
    }
}
/************************
work fields
************************/
.workFields {
    padding: $padding;
    background: linear-gradient(rgba($primary,.8),rgba($primary,.8  )), url(../img/work-info.jpg);
    background-position: center;
    background-size: cover;
    color: $white;
    @include flex(space-between,center,column);
    h2 {
        text-align: center;
        font-size: 3rem;
        color: $white;
    }
    hr {
        @include hr($white,150px); 
    }
    .container {
        margin-top: 30px;
        @include flex(space-between,center,row);
        @media(max-width: 767px) {
            @include flex(space-between,center,column);
        }
        article {
            @include flex(space-between,center,column);
            flex: 0 0 48%;
            margin-bottom: 30px;
            background: $primary;
            padding: 30px 0;
            border: 1px solid $white;
            box-shadow: 0px 0px 10px $white;
            @media(max-width: 767px) {
                flex: 0 0 100%;
                padding: 30px 50px;
            }
            i {
                color: $white;
                font-size: 90px;
                margin-bottom: 30px;
            }
            h4 {
                font-size: 1rem;
                color: $white;
                word-spacing: 5px;
                letter-spacing: 1px;
                text-align: center;
            }
            &:hover {
                transform: scale(1.1,1.1);
            }
        }
    }
}
/************************
contact form
************************/
.contactForm {
            padding: $padding;
            height: 100%;
            @media(max-width: 767px) {
                padding: 10px 0;
            }
            h2{
                text-align: center;
                font-size: 3rem;
                color: $primary;
            }
            hr {
                @include hr($primary);
            }
            p {
                font-size: 1rem;
                color: $primary;
                margin-bottom: 10px;
                text-align: justify;
            }  
            form {
                @include flex(space-between,center,column);
                .input {
                    width: 100%;
                    @include flex(space-between,center,row);
                    @media(max-width: 767px) {
                        @include flex(space-between,center,column);
                    }
                    input {
                        flex: 0 0 48%;
                        margin-bottom: 20px;
                        padding: 10px 0;
                        padding-left: 10px;
                        font-family: 'Playfair Display', serif;
                        border: 3px solid $primary;
                        @media(max-width: 767px) {
                            width: 100%;
                        }
                    }
                }
                textarea {
                    width: 100%;
                    margin-bottom: 20px;
                    padding-left: 10px;
                    padding-top: 10px;
                    font-family: 'Playfair Display', serif;
                    border: 3px solid $primary;
                }
                button {
                    @include btn;
                    @media(max-width: 767px) {
                        margin-bottom: 20px;
                    }
                }
            }
}
/************************
log in form
************************/
.logInForm {
    padding: $padding;
    height: 100%;
    @media(max-width: 767px) {
        padding: 10px 0;
    }
    h2{
        text-align: center;
        font-size: 3rem;
        color: $primary;
    }
    hr {
        @include hr($primary);
    }
    form {
        @include flex(space-between,center,column);
        input {
            width: 50%;
            margin-bottom: 20px;
            padding: 10px 0;
            padding-left: 10px;
            font-family: 'Playfair Display', serif;
            border: 3px solid $primary;
            @media(max-width: 767px) {
                width: 100%;
            }
        }
        button {
            @include btn;
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
}
/************************
recommendation
************************/
.recommendation {
    padding: 50px 0;
    @include flex(space-between,center,column);
    h2 {
        font-size: 3rem;
        color: $primary;
    }
    hr {
        @include hr($primary);
        margin-bottom: 30px;
    }
    article {
        @include flex(space-between,center,row);
        @media(max-width: 767px) {
            @include flex(space-between,center,column);
        }
        div {
            flex: 0 0 48%;
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
            img {
                width: 100%;
            }
        }
    }
}
/************************
map
************************/
.map {
    padding-top: 50px;
    iframe {
        display: block;
    }
}
/************************
blog
************************/
.blog {
    @include flex(space-between,center,column);
    form {
        @include flex(space-between,center,column);
        margin-bottom: 50px;
        width: 100%;
        input {
            width: 100%;
            margin-bottom: 20px;
            padding: 10px 0;
            padding-left: 10px;
            font-family: 'Playfair Display', serif;
            border: 3px solid $primary;
            @media(max-width: 767px) {
                width: 100%;
            }
        }
        textarea {
            width: 100%;
            margin-bottom: 20px;
            padding-left: 10px;
            padding-top: 10px;
            font-family: 'Playfair Display', serif;
            border: 3px solid $primary;
        }
        button {
            @include btn;
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
    article {
        @include flex(space-between,center,column);
        width: 100%;
        border-bottom: 10px solid $primary;
        margin-bottom: 50px;
        img {
            width: 100%;
        }
        h2 {
            padding-top: 20px;
            font-size: 3rem;
            color: $primary;
            @media(max-width: 767px) {
                font-size: 1.7rem;
            }
        }
        p {
            font-size: 1.7rem;
            text-align: justify;
            padding: $padding;
            color: $primary;
            @media(max-width: 767px) {
                font-size: 1rem;
                padding: 20px 20px;
            }
        }
        div {
            margin-bottom: 30px;
            @include flex(space-between,center,row);
            @media(max-width: 767px) {
                @include flex(space-between,center,column);
            }
            .btnDeaktiviraj {
                @include btn(red,$white,red);
                @media(max-width: 767px) {
                    margin-bottom: 20px;
                    font-size: 1rem;
                }
            }
            .btnAktiviraj {
                @include btn(green,$white,green);
                @media(max-width: 767px) {
                    margin-bottom: 20px;
                    font-size: 1rem;
                }
            }
        }
    }
}
/************************
footer
************************/
footer {
    background: $primary;
    color: $white;
    padding: 20px 0;
    @include flex(space-between,center,column);
    .contactInfo {
        @include flex(space-between,center,row);
        @media(max-width: 767px) {
            @include flex(space-between,center,column);
        }
        padding-bottom: 30px;
        padding-top: 20px;
        article {
            flex: 0 0 32%;
            @include flex(space-between,center,column);
            @media(max-width: 767px) {
                flex: 0 0 100%;
                margin-bottom: 30px;
            }
            h3{
                font-size: 1.7rem;
                color: $white;
                @media(max-width: 767px) {
                    font-size: 1.4rem;
                }
            }
            hr {
                @include hr($white,50px);  
                @media(max-width: 767px) {
                    margin-bottom: 5px;
                }
            }
        }
    }
    ul {
        padding-bottom: 30px;
        @include flex(space-between,center,row);
        li {
            margin: 0 10px;
            a {
                font-size: 2rem;
                color: $white;
            }
            &:hover {
                i {
                    color: $white;
                }
            }
        }
    }
    p {
        font-size: .8rem;
        a {
            color: $white;
            margin-left: 10px;
        }
    }
}