/************************
google font
************************/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/************************
variables
************************/
/************************
mixins
************************/
/************************
bacis styles
************************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Playfair Display', serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  margin: auto;
}

/************************
top bar
************************/
.topBar {
  background: #11243a;
  color: white;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .topBar {
    text-align: center;
  }
}

.topBar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .topBar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 3;
  }
}

.topBar .container a {
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
}

/************************
header
************************/
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 0;
}

@media (max-width: 767px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav .logo a {
  color: #11243a;
  font-weight: 600;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  header nav .logo {
    margin-bottom: 30px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav ul li {
  margin-left: 60px;
}

@media (max-width: 767px) {
  header nav ul li {
    margin-bottom: 20px;
    margin-left: 0px;
  }
}

header nav ul li a {
  color: #11243a;
  font-weight: 600;
  font-size: 1.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

header nav ul li a:hover {
  color: white;
  background: #11243a;
  padding: 15px 15px;
}

header hgroup {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 36, 58, 0.6)), to(rgba(17, 36, 58, 0.6))), url(../img/header.jpg);
  background: linear-gradient(rgba(17, 36, 58, 0.6), rgba(17, 36, 58, 0.6)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header hgroup h1 {
  font-size: 4rem;
  font-weight: 800;
}

@media (max-width: 767px) {
  header hgroup h1 {
    font-size: 3rem;
  }
}

header hgroup p {
  font-size: 1.1rem;
}

@media (max-width: 767px) {
  header hgroup p {
    font-size: 0.9rem;
  }
}

/************************
about us
************************/
.aboutUs {
  padding: 50px 0;
}

.aboutUs article h2 {
  text-align: center;
  font-size: 3rem;
  color: #11243a;
}

.aboutUs article hr {
  background: #11243a;
  width: 150px;
  padding: 1px 0;
  margin: auto auto 20px auto;
  content: "";
}

.aboutUs article p {
  text-align: justify;
  line-height: 1.8;
  word-spacing: 3px;
}

.aboutUs article p img {
  float: left;
  max-width: 200px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .aboutUs article p img {
    float: none;
    position: relative;
    margin-bottom: 20px;
    max-width: 100%;
  }
}

/************************
work fields
************************/
.workFields {
  padding: 50px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 36, 58, 0.8)), to(rgba(17, 36, 58, 0.8))), url(../img/work-info.jpg);
  background: linear-gradient(rgba(17, 36, 58, 0.8), rgba(17, 36, 58, 0.8)), url(../img/work-info.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.workFields h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.workFields hr {
  background: white;
  width: 150px;
  padding: 1px 0;
  margin: auto auto 20px auto;
  content: "";
}

.workFields .container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .workFields .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.workFields .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  margin-bottom: 15px;
  background: #11243a;
  padding: 30px 0;
}

@media (max-width: 767px) {
  .workFields .container article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 30px 50px;
  }
}

.workFields .container article i {
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}

.workFields .container article h4 {
  font-size: 1rem;
  color: white;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.workFields .container article:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

/************************
contact form
************************/
.contactForm {
  padding: 50px 0;
  height: 100%;
}

@media (max-width: 767px) {
  .contactForm {
    padding: 10px 0;
  }
}

.contactForm h2 {
  text-align: center;
  font-size: 3rem;
  color: #11243a;
}

.contactForm hr {
  background: #11243a;
  width: 150px;
  padding: 1px 0;
  margin: auto auto 20px auto;
  content: "";
}

.contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactForm form .input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .contactForm form .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contactForm form .input input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-bottom: 20px;
  padding: 10px 0;
  padding-left: 10px;
  font-family: 'Playfair Display', serif;
  border: 3px solid #11243a;
}

@media (max-width: 767px) {
  .contactForm form .input input {
    width: 100%;
  }
}

.contactForm form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Playfair Display', serif;
  border: 3px solid #11243a;
}

.contactForm form button {
  padding: 10px 30px;
  border: 3px solid #11243a;
  color: #11243a;
  background: transparent;
  font-size: 1.3rem;
}

.contactForm form button:hover {
  background: #11243a;
  color: white;
}

@media (max-width: 767px) {
  .contactForm form button {
    margin-bottom: 20px;
  }
}

/************************
recommendation
************************/
.recommendation {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recommendation h2 {
  font-size: 3rem;
  color: #11243a;
}

.recommendation hr {
  background: #11243a;
  width: 150px;
  padding: 1px 0;
  margin: auto auto 20px auto;
  content: "";
  margin-bottom: 30px;
}

.recommendation article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .recommendation article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recommendation article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

@media (max-width: 767px) {
  .recommendation article div {
    margin-bottom: 20px;
  }
}

.recommendation article div img {
  width: 100%;
}

/************************
map
************************/
.map iframe {
  display: block;
}

/************************
footer
************************/
footer {
  background: #11243a;
  color: white;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 60px;
  padding-top: 20px;
}

@media (max-width: 767px) {
  footer .contactInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .contactInfo article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  footer .contactInfo article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

footer .contactInfo article h3 {
  font-size: 1.7rem;
  color: white;
}

@media (max-width: 767px) {
  footer .contactInfo article h3 {
    font-size: 1.4rem;
  }
}

footer .contactInfo article hr {
  background: white;
  width: 50px;
  padding: 1px 0;
  margin: auto auto 20px auto;
  content: "";
}

@media (max-width: 767px) {
  footer .contactInfo article hr {
    margin-bottom: 5px;
  }
}

footer p {
  font-size: .8rem;
}
/*# sourceMappingURL=style.css.map */